include components/title
include components/content

section#about.about
    span#about__rotating.about__rotating.rotating(
        data-editable="about.rotating"
        style="background-image: url('" . $about->rotating . "');"
    )
    +title("about", $about->title, "", $editable ? "about.title" : null)
    div.about__content-wrapper
        +content("about", $about->content, "", $editable ? "about.content" : null)
    div.about__image-wrapper.about__image-under-wrapper(
        data-editable=($editable ? "about.image.under" : null)
    )
        div.about__image.about__image-under
            span.about__image-bg.about__image-under-bg.vertical-bg(
                style="background-image: url('" . $about->image->under . "');"
            )
            +title("about", $about->title, "under", $editable ? "about.title" : null)
            +content("about", $about->content, "under", $editable ? "about.content" : null)
            span#about__image-under-overlay.about__image-under-overlay
    div.about__image-wrapper.about__image-over-wrapper(
        data-editable=($editable ? "about.image.over" : null)
    )
        div.about__image.about__image-over
            span.about__image-bg.about__image-over-bg.horizontal-bg(
                style="background-image: url('" . $about->image->over . "');"
            )
            span#about__image-over-overlay.about__image-over-overlay