include components/title
include components/content
include components/button

- $index = 0;
mixin option($title, $optionList, $buttonURL, $editable, $position)
    - $index = $index + 1;
    div.option(
        id="option-" . $index
        style="--option: " . ($index - 1) . "; --title: '" . $title . "';"
        data-editable=($editable . "title")
    )
        div.option__text
            ul.option__list(
                id=("option__list-" . $position)
                data-editable=($editable ? $editable . "list" : null)
                data-count=(count($optionList))
            )
                - $i = 0
                while $i < count($optionList)
                    li.option__list-item(style="--index: " . $i)
                        +content("option", $optionList[$i], $i . '-' . $position)
                        - $i++
            +button("option", $options->button, $buttonURL, ($editable ? $editable . ".button" : null))
        - if($editable)
            pre(
                style="position: absolute; bottom: 0; left: 0.5rem; color: rgba(255, 255, 255, 0.6)")!="Pentru a edita lista apasa pe partea<br>fara scris in dreptul ei"


section#options.options
    +title("option", $options->title, "main", $editable ? "options.title" : null)
    +option(
        $options->content[0]->title, 
        $options->content[0]->list, 
        $options->content[0]->link,
        ($editable ? "options.content[0]." : null),
        "left"
    )
    +option(
        $options->content[1]->title, 
        $options->content[1]->list, 
        $options->content[1]->link,
        ($editable ? "options.content[1]." : null),
        "right"
    )